@page "/studens"

<h1>Студенты ыыыы:)</h1>
<button class="btn btn-primary" @onclick="FillStudents">Вывести студентов 1 порядка</button>
@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Группа</th>
                <th>Факультет</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Student123 in students)
            {
                <tr>
                    <td>@Student123.name</td>
                    <td>@Student123.surname</td>
                    <td>@Student123.group</td>
                    <td>@Student123.faculty</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<Student123> students;
    private Student123[] students1;
    private Student123[] students2;

    private void FillStudents()
    {
        students = StudentExtansion.list;
    }
}
